input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.react-syntax-highlighter-line-number {
  color: #8283ad;
}

#code-editor::placeholder {
  color: #8283ad;
  padding-left: 5px;
}

/* Syntax highlighting */
.token.comment {
  color: #8283ad;
}
.token.prolog,
.token.doctype,
.token.cdata {
  color: #90a4ae;
}
.token.punctuation {
  color: #a688ff;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #a1ffe0;
}
.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: #f49c04d2;
}

.token.string {
  color: #26d7fb;
}

.token.operator {
  color: #a688ff;
}
.token .template-string {
  display: none;
}
.token .template-punctuation {
  display: none;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #91a5e7;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #a688ff;
}
.token.function {
  color: #f2f6f7;
}
.token.regex,
.token.important,
.token.variable {
  color: #ff9800;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
